/Conjugation.class
/HelloTest.class
/PersistentList.class
/Process1.class
/QuickTest.class
/Searcher.class
/TextGetter.class
/TestTagger.class
/WordManager.class
/TestNLG.class
/SentenceManager.class
/NounPluralHandler.class
/Inflector$Rule.class
/Inflector.class
/ProcessTenses.class
/OtherTest.class
/Test.class
/Testing.class
/WmMap.class
/SentenceManager$1.class
/PySearcher.class
/ShellSearch.class
/ProcessWn.class
/Categorizer.class
/NewWordManager.class
/NewWordManager$PartOfSpeach.class
/WNSearch.class
/SentenceManager$WmWrapper.class
/WmWrapper.class
/SwingInterface.class
/SwingConsole.class
/SwingConsole$1.class
/SwingInterface$1.class
/SwingInterface$Populator.class
/SwingInterface$1$1.class
/Utilities.class
/Wrappers$Singers.class
/Wrappers.class
/Wrappers$Voice.class
/Wrappers$Vox.class
/SwingInterface$1$1$1.class
/SwingInterface$1$WmButton.class
/SwingInterface$1$1$2.class
/SwingInterface$1$1$1$1.class
/SwingInterface$1$1$1ChooseVoc.class
/SJPanel.class
/SwingInterface$1$1$3.class
/Terminal.class
/Terminal$1.class
/JWNSearch.class
